<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul>
      <li *ngFor="let todo of todos">
        {{ todo.id }}. {{ todo.title }} -
        <button *ngIf="!todo.done">Concluir</button> |
        <button *ngIf="todo.done">Refazer</button> |
        <button (click)="remove(todo)">Remover</button>
      </li>
    </ul>
  </body>
</html>
